<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <nav class="navbar navbar-info">
        <!-- Navbar content -->
        <a class="btn btn-info btn-lg" role="button" routerLink="/home">Home</a>
        <a class="btn btn-info btn-lg" role="button" routerLink="/list">List</a>
        <a class="btn btn-info btn-lg" role="button" routerLink="/view">View</a>
        <a class="btn btn-info btn-lg" role="button" routerLink="/search">Search</a>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
