<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>
          Example Application
        </h1>
        <div class="panel-title">
          <div class="row">
            <div class="col-12">
              <p>This is an example of angular(version 5) application </p>
              <p>In this example few angular components are used like route , service(asynchronous), pipe filter component etc </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
